@model IEnumerable<WebApplication6.Models.Company>

@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
<div class="row">


    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content(item.Logo)" alt="..." width="242" height="200">
                <div class="caption">
                    <h3>@item.CName</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">More info</a> </p>
                </div>
            </div>
        </div>

    }

</div>